@font-face {
	font-family: Poppins-ExtraBold;
	src: url("../font/Poppins-ExtraBold.ttf");
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrapper{
	display: block;
	background: url("../images/break.png");
	font-family: Poppins-ExtraBold;
	width: 1920px;
	height: 1080px;
	font-size: 18px;
	position: relative;
}

.players{
	position: absolute;
	text-align: center;
	color: white;
	font-size: 36px;
	height: 35px;
	line-height: 35px;
}
.player1-tag{
	position: absolute;
	left: 1360px;
	top: 292px;
	width: 285px;
}
.player1-score{
	position: absolute;
	left: 1640px;
	top: 294px;
	width: 50px;
}
.player1-pronouns{
	position: absolute;
	color:black;
	font-size:24px;
	left: 1505px;
	top: 345px;
	width: 140px;
}
.player2-tag{
	position: absolute;
	left: 1450px;
	top: 410px;
	width: 285px;
}
.player2-score{
	position: absolute;
	left: 1725px;
	top: 412px;
	width: 50px;
}
.player2-pronouns{
	position: absolute;
	color:black;
	font-size:24px;
	left: 1590px;
	top: 463px;
	width: 140px;
}
.commentators{
	position: absolute;
	text-align: center;
	color: black;
	font-size: 36px;
	height: 35px;
	line-height: 35px;
}
.commentator-1{
	position: absolute;
	left: 1420px;
	top: 42px;
	width: 320px;
}
.commentator1-pronouns{
	position: absolute;
	color:white;
	font-size:24px;
	left: 1565px;
	top: 93px;
	width: 140px;
}
.commentator-2{
	position: absolute;
	left: 1500px;
	top: 160px;
	width: 320px;
}
.commentator2-pronouns{
	position: absolute;
	color:white;
	font-size:24px;
	left: 1645px;
	top: 211px;
	width: 140px;
}
