@font-face {
	font-family: Poppins-ExtraBold;
	src: url("../font/Poppins-ExtraBold.ttf");
}

body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrapper{
	display: block;
	background: url("../images/layout.png");
	font-family: Poppins-ExtraBold;
	width: 1920px;
	height: 1080px;
	font-size: 18px;
	position: relative;
}
.top-bar{
	position: absolute;
	top: 5px;
	height: 35px;
	line-height: 40px;
	width: 365px;
	left: 750px;
	font-size: 28px;
	text-align: center;
}
.player1-info{
	position: absolute;
	text-align: center;
	width: 185px;
	left: 530px;
	bottom: 18px;
}
.player1-tag{
	position: absolute;
	bottom: 36px;
	height: 20px;
	line-height: 20px;
	width: 150px;
}
.player1-pronouns{
	position: absolute;
	color:white;
	font-size:14px;
	bottom:9px;
	left:52px;
	width:150px;
}
.player1-score{
	position: absolute;
	color: orange;
	bottom: 28px;
	width: 30px;
	left: 180px;
	font-size: 24px;
}
.player2-info{
	position: absolute;
	text-align: center;
	width: 185px;
	left: 1270px;
	bottom: 18px;
}
.player2-tag{
	position: absolute;
	bottom: 36px;
	height: 20px;
	line-height: 20px;
	width: 150px;
}
.player2-pronouns{
	position: absolute;
	color:white;
	font-size:14px;
	bottom:9px;
	left:55px;
	width:150px;
}
.player2-score{
	position: absolute;
	color: orange;
	bottom: 28px;
	width: 30px;
	left: 180px;
	font-size: 24px;
}
